body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: linear-gradient(0.25turn,mistyRose, aliceBlue, skyBlue);
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    overflow-y: scroll;
}
.intro-content {
    display: flex;
    margin: 4em;
    justify-content: center;
    align-items: center;
}

/* TODO there's game-info layout issue before start the game */
.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}
.game-info button {
    cursor: pointer;
}
.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.square {
  min-width: 55px;
  min-height: 55px;
}
li {
    margin: 5px 0;
    list-style: lower-alpha;
}
li>button {
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(0.25turn, skyBlue, mistyRose);
}

.reboot {
    padding: 5px;
    background: linear-gradient(0.25turn, mistyRose, skyBlue);
    border-radius: 5px;
}

.intro-content table td {
    border: 1px solid black;
}

.foot-note {
    width: 100vw;
    position: fixed;
    height: 100px;
    bottom: 0;
    display: grid;
    place-content: center;
}
.foot-note > div{
    text-align: center;
    line-height: 1;
}